Servidor/requerimientos/reqHistorial.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"

            xmlns:tns="http://192.168.100.15:3000/historial"                                
            
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            
            targetNamespace="http://192.168.100.15:3000/historial">

    <types>
            <xsd:schema targetNamespace="http://192.168.100.15:3000/historial">
            
            <xsd:element name="Buscar">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="username" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="BuscarResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string"/>
                        <xsd:element name="paciente" type="xsd:string"/>
                        <xsd:element name="fechaNaciemiento" type="xsd:string"/>
                        <xsd:element name="edad" type="xsd:string"/>
                        <xsd:element name="sexo" type="xsd:string"/>
                        <xsd:element name="lugarOrigen" type="xsd:string"/>
                        <xsd:element name="nacionalidad" type="xsd:string"/>
                        <xsd:element name="religion" type="xsd:string"/>
                        <xsd:element name="estadoCivil" type="xsd:string"/>
                        <xsd:element name="lugarResidencia" type="xsd:string"/>
                        <xsd:element name="escolaridad" type="xsd:string"/>
                        <xsd:element name="seguroMedico" type="xsd:string"/>
                        <xsd:element name="ocupacion" type="xsd:string"/>
                        <xsd:element name="personaResponsable" type="xsd:string"/>
                        <xsd:element name="prVinculoconPaciente" type="xsd:string"/>
                        <xsd:element name="anteHeredoFamiliares" type="xsd:string"/>
                        <xsd:element name="antePersonalesNP" type="xsd:string"/>
                        <xsd:element name="antePersonalesP" type="xsd:string"/>
                        <xsd:element name="anteGineObtetrico" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="BuscarRequest">
        <part name="parameters" element="tns:Buscar"/>
    </message>
    <message name="BuscarResponse">
        <part name="parameters" element="tns:BuscarResponse"/>
    </message>

    <portType name="HistorialPortType">
        <operation name="Buscar">
            <input message="tns:BuscarRequest"/>
            <output message="tns:BuscarResponse"/>
        </operation>
    </portType>

    <binding name="HistorialBinding" type="tns:HistorialPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Buscar">

            <soap:operation soapAction="http://192.168.100.15:3000/historial/buscar"/>
        
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="HistorialService">
        <port name="HistorialPort" binding="tns:HistorialBinding">

            <soap:address location="http://192.168.100.15:3000/historial"/>
            
        </port>
    </service>
</definitions>
